beautifulsoup4==4.9.3
botocore==1.18.11
certifi==2020.6.20
chardet==3.0.4
idna==2.10
jmespath==0.10.0
pynamodb==4.3.3
python-dateutil==2.8.1
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
urllib3==1.25.10
